# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Virtual environment
venv/
ENV/
env/

# Environments
*.env
*.env.*

# IDEs
.vscode/
.idea/

# Local files
*.log
*.bak
*.swp
.DS_Store

# Outputs and datasets
data/outputs/
data/raw/

# Test folder
tests/